.caja-azul{
background-color: rgba(221,244,255,1);
width: 1440px;
height: 777px;
font-family: 'Montserrat';
}

.caja{
    background-color: rgb(255, 255, 255);
    width: 1440px;
    height: 1700px;
    font-family: 'Montserrat';
    }

    .caja_ayuda{
        background-color: rgba(221,244,255,1);
        width: 576px;
        height: 386px;
        position: relative;
        top: 200px;
        left: 100px;

        font-family: 'Montserrat';

      
        }

.caja_rosada{
    background-color: rgb(255, 242, 243,1);
    width: 1440px;
    height: 718px;
    display: relative;
    font-family: 'Montserrat';

    }

  .caja-blanca_1{
     background-color: rgba(255, 255, 255);
     width: 328px;
     height: 268px;
     position: relative;
     top: 268px;
     left: 160px;
     font-family: 'Montserrat';
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
     
     }

     
  .caja-blanca_2{
    background-color: rgb(255, 255, 255);
    width: 328px;
    height: 268px;
    position: relative;
    left: 510px;
    font-family: 'Montserrat';
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }

    .caja-blanca_3{
        background-color: rgba(255, 255, 255);
        width: 328px;
        height: 268px;
        position: relative;
        top: -268px;
        left: 860px;
        font-family: 'Montserrat';
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        }

    .caja_white {
        width: 1440px;
    height: 264px;
    display: flex; 
    font-family: 'Montserrat';
    
    }
        


    .btn_upper  {
        width: 137px;
        height: 52px;
        position: relative;
       
        left: 850px;
        background-color: rgba(150, 187, 124, 1);

        display: flex; /* Utiliza flexbox para centrar el contenido */
      justify-content: center; /* Centra horizontalmente */
      align-items: center;
      border-radius: 5px; /* Radio de redondeo de 20 píxeles para todas las esquinas */
    }


    .caja_NOW  {
        width: 193px;
        height: 52px;
        position: relative;
        top: 220px;
        left: 100px;
        background-color: rgba(150, 187, 124, 1);

        display: flex; /* Utiliza flexbox para centrar el contenido */
      justify-content: center; /* Centra horizontalmente */
      align-items: center;
      border-radius: 5px; /* Radio de redondeo de 20 píxeles para todas las esquinas */
    }

    .caja_NOW_1  {
        width: 193px;
        height: 52px;
        position: relative;
        top: 168px;
        left: 310px;
       
        border: 2px solid  rgba(150, 187, 124, 1);
        display: flex; /* Utiliza flexbox para centrar el contenido */
      justify-content: center; /* Centra horizontalmente */
      align-items: center;
      border-radius: 5px; /* Radio de redondeo de 20 píxeles para todas las esquinas */

    }
 .caja_verde_1{
            width: 240px;
            height: 104px;
            position: relative;
            font-family: 'Montserrat';
            
            left: 160px;
            text-align: center;
        }
        .caja_verde_2{
            width: 240px;
            height: 104px;
            position: relative;
            font-family: 'Montserrat';
          
            left: 180px;
            text-align: center;   
        }
        .caja_verde_3{
            width: 240px;
            height: 104px;
            position: relative;
            font-family: 'Montserrat';
           
            left: 200px;
            text-align: center;   
        }
        .caja_verde_4{
            width: 240px;
            height: 104px;
            position: relative;
            font-family: 'Montserrat';
            
            left: 220px;
            text-align: center; 
        }
        .circulo_2, .circulo_1, .circulo_3 {

            width: 72px;
            height: 72px;
            background-color: #FFF2F3;
            border-radius: 50%;
            position: relative;
            top: 30px;
            left: 40px;
        }
        
        .libro_op {

            width: 72px;
            height: 72px;
            display: flex; 
        }
        footer  {
            width: 1440px;
            height: 74px;
            background-color:     rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            font-family: 'Montserrat';
        }
        
       .caja_ayuda_2  img{
        width: 720px;
        height: 600px;
        position: relative;
        top: 175px;
        font-family: 'Montserrat';
        float: right;
        }

      i{
        margin-right: 90px;
        margin-left: 10px;
        float: right;
      }
      footer div  {
        margin: 100px;
    }
    .btn{
        width: 137px;
        height: 52px;
        position: relative;
       
        left: 820px;
        background-color: white;

        display: flex; /* Utiliza flexbox para centrar el contenido */
      justify-content: center; /* Centra horizontalmente */
      align-items: center;
      border-radius: 5px; /* Radio de redondeo de 20 píxeles para todas las esquinas */
      
   
    }

    .logo{
        width: 137px;
        height: 52px;
        position: relative;
      
        left: 160px;
        background-color: white;

        display: flex; /* Utiliza flexbox para centrar el contenido */
      justify-content: center; /* Centra horizontalmente */
      align-items: center;
      border-radius: 5px; /* Radio de redondeo de 20 píxeles para todas las esquinas */
    }

  